
.body{
display:flex;
flex-direction: row;
justify-content: space-around;
}
header{
    text-align: center;
}
header>a{
    text-decoration: none;
    color: whitesmoke;

}


aside{
    width: 30%;
    border: 1px solid black;
    height: 100%;
}

main{
    width: 70%;
}